<div class="container-fluid">
    <div class="panel panel-default panel-alunos">
        <div class="panel-heading">Alunos</div>
        <div class="panel-body">
            <div class="btn-group pull-right">
                <button class="btn btn-success" ng-click="editaAluno({})"><i class="glyphicon glyphicon-plus"></i> Incluir</button>
                <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Excluir</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
            </thead>
        </table>
    </div>
</div>